.page-404 {
  .navigation {
    margin-bottom: 0;

    .nav-active {
      display: none;
    }
  }

  .page404 {
    color: $color-1;
    @include verticalCenter;
    flex-direction: column;
    margin: 4% auto 2% auto;


    h3 {

      font-size: 20em;
      font-weight: 700;


    }

    span {

      font-size: 3em;
      font-weight: 500;
      line-height: 51px;
      text-align: center;


    }

    .homeLink {
      font-size: 1em;
      font-weight: 500;
      line-height: 20px;
      margin: 8% auto;


    }
  }
}