.page-404 {
  .navigation {
    margin-bottom: 0;

    .nav-active {
      display: none;
    }
  }

  .page404 {
    color: $color-1;
    @include verticalCenter;
    flex-direction: column;



    h3 {

      font-size: 20em;



    }

    span {

      font-size: 3em;
      font-weight: 500;



    }

    .homeLink {
      font-size: 1em;
      font-weight: 500;



    }
  }
}