aside {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 76px;
    width: 100%;
}

.collapse-container {
    margin: 0 auto 4% auto;
    display: flex;
    justify-content: space-between;
    max-width: 1600px;

    @media screen and (max-width: 1800px) {
        margin: 4% 10%;
    }

    @media screen and (max-width: 800px) {
        display: block;
    }

    .collapse {
        width: 48%;
        margin: 0;

        @media screen and (max-width: 800px) {
            width: 100%;
            margin-bottom: 10%;
        }

        .collapseKasalocationContent {
            h3 {
                font-size: 18px;
            }
        }

        .collapse-content {
            font-size: 18px;
            min-height: 250px;
        }
    }
}

.rentalIdentity {
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: #ff6060;


}

.place {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.rentalTitle {
    font-size: 36px;
    margin: 0px;
}

.rentalPlace {
    font-size: 18px;
    margin: 0px;
}

.tagWrapper {
    display: flex;
    flex-wrap: wrap;
}

.host {
    display: flex;
    justify-content: flex-end;
}

.renterPicture {
    border-radius: 50%;
    width: 64px;
    margin-left: 10px;
}

.renterName {
    width: 70px;
    text-align: right;
}

.rates {
    display: flex;
    flex-wrap: nowrap;
}

@media all and (max-width : 706px) {
    .rentalTitle {
        font-size: 27px;
    }
}



@media all and (max-width : 549px) {
    aside {
        display: block;
    }

    .rentalIdentity {
        flex-direction: column;
    }

    .place {
        justify-content: flex-start;
    }

    .rentalTitle {
        font-size: 18px;
        margin-bottom: 5px;
    }

    .hostAndRate {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
    }

    .rentalPlace {
        font-size: 14px;
        margin-bottom: 10px;
    }

    .host {
        max-width: 135px;
        margin-top: 16px;
    }

    .renterPicture {
        width: 32px;
        height: 32px;
    }

    .renterName {
        width: 50px;
        font-size: 12px;
    }

    .collapse-container {
        margin: 0 auto 4% auto;
        display: flex;
        justify-content: space-between;
        max-width: 1600px;

        @media screen and (max-width: 1800px) {
            margin: 4% 10%;
        }

        @media screen and (max-width: 800px) {
            display: block;
        }

        .collapse {
            width: 48%;
            margin: 0;

            @media screen and (max-width: 800px) {
                width: 100%;
                margin-bottom: 10%;
            }

            .collapseKasalocationContent {
                h3 {
                    font-size: 18px;
                }
            }

            .collapse-content {
                font-size: 18px;
                min-height: 250px;
            }
        }
    }
}